<!DOCTYPE html>
{% load static %}
<html lang="ru" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/sign.css" %}" />
    <title>Вход</title>
</head>

<body>
    <div class="box">
        <div class="form">
            <h2>PapichTv</h2>
            <h1>Регестрация</h1>            
            <form class="inputbox"method="POST">
                {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <div class="button">
            <input type="submit" name="button" value="Зарегестрировать" >            
            </div>
            <div class="zp">
            <a class="zareg" href="/"><span>Вход</span></a>
            </div>
            </form>
        </div>
    </div>
    </div>
</body>